<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tongki.dev | Home</title>
    <script src="/static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/mini-default.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="logo">Logo</a>
            <a href="#" class="button">Home</a>
            <a href="#" class="button">About</a>
            <a href="#" class="button">Resume</a>
        </header>
    </div>
    <div>
        <div class="card">
            <div class="section">
                <div class="profile-pic">
                    <img id="pfp" src="/static/img/pfp.png" alt="pfp">
                </div>
                <div class="name-card">
                    <p>{{name}}</p>
                    <p>Computer Science, Dev</p>
                </div>
            </div>
            <div class="section">
            </div>
        </div>
    </div>
    <footer>
        <p>Footer</p>
    </footer>
</body>

</html>